
<div class="congratsDiv">

<h2>Congrats {{ user.username }}! You guessed correctly!</h2>

<div class="singleWrap">
    <div class="singleMain">
      <div class="leaderBoardTop">
        <i class="fa fa-camera"></i>
        <p>posted by <span>{{post.owner}}<span></p>
      </div>
      <div class="image">
        <img src="{{post.image_url}}">

        <div class="imageInfo">
          <h3>Correct Answer: {{ post.answer }}</h3>

          <p>Total Attempts: {{post.attempts}}</p>


          <!-- would be cool to add div with user's score and addClass show on hover for this information -->

        </div>
      </div>

<p>Your score is now: {{ user.points }}</p>

<div class="keepPlayingDiv">
  <button class="keepPlaying" id="keepPlaying">Keep Playing</button>

</div>


</div><!--end of congratsDiv-->


{{!-- <div class="leaderboardDiv"> --}}

{{!-- <h2>Here's where you stand on the Leaderboard:</h2> --}}

{{!-- <ul id="leaderboardList" class="leaderboardList">
{{#each user}}
<li data-id="{{ userID }}">

  {{username}} {{score}}
{{/each}}
</li>
</ul>


</div><!-- end of leaderboardDiv -->
 --}}
