
<div class="congratsDiv">

<h2>Congrats {{ username }}! You guessed correctly!</h2>

<div class="singleWrap">
    <div class="singleMain">
      <i class="fa fa-camera"></i>
      <p>posted by <span>{{owner}}<span></p>

      <div class="image">
        <img src="{{image_url}}">

        <div class="imageInfo">
          <h3>Correct Answer: {{ answer }}</h3>

          <p>Total Incorrect: {{!-- {{}} --}}</p>


          <!-- would be cool to add div with user's score and addClass show on hover for this information -->

        </div>
      </div>

<p>Your score is now: {{ points }}</p>

<div class="keepPlayingDiv">
  <button class="keepPlaying" id="keepPlaying">Keep Playing</button>

</div>


</div><!--end of congratsDiv-->


{{!-- <div class="leaderboardDiv"> --}}

{{!-- <h2>Here's where you stand on the Leaderboard:</h2> --}}

{{!-- <ul id="leaderboardList" class="leaderboardList">
{{#each user}}
<li data-id="{{ userID }}">

  {{username}} {{score}}
{{/each}}
</li>
</ul>


</div><!-- end of leaderboardDiv -->
 --}}
