
<div class="leaderboardSection">
  <h4 class="leaderboardh4">Leaderboard</h4>

  <table class="leadertable">
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>% Correct</th>
    </tr>

    {{#each user}}

    <tr>
      <td>{{username}}</td>
      <td>{{points}}</td>
      <td>{{win_percent}}%</td>
    </tr>

    {{/each}}

  </table>

{{!--   <ul id="leaderboard" class="leaderboard">
    {{#each user}}
    <li>{{username}}: <span class="leaderboardScorePoints">{{points}}</span> | {{win_percent}}% correct</li>

    {{/each}}
  </ul> --}}
</div>

<div class="deleteDiv">
  <button id="#deleteUser" class='deleteuser'>Delete Account</button>
</div>
