<div class="mainImages">

  <h2>LET'S PLAY!</h2>
  <div class="rightBtns">
    <div class="logout" id="logout">
      <p class="logoutBtn" id="logoutBtn">Logout</p>
    </div>
    <a href="/#newpost"><div class="newpostBtn">
      <i class="fa fa-camera"></i>
      <p>Add a new post</p>
    </div></a>
  </div>

  <div class="sorting">
    <div class="circle" id="sortDifficult"></div>
    <p class="sort">Sort by most difficult.</p>
    <div class="circle" id="sortRecent"></div>
    <p class="sort">Sort by most recent addition.</p>
  </div>

  <ul class="small-block-grid-3">

    {{#each image}}
     <li data-id="{{id}}">

       <div class="imageWrap">
        <p class="poster">
          <i class="fa fa-camera"><b> Posted by | </b></i><span> {{ owner }}</span>
        </p>
        <div class="deleteBtn" data-id="{{id}}" id="deleteBtn"></div>

        <div class="actualImage">
          <a href="#/single/{{id}}"><img src="{{ image_url }}"></a>
        </div>

        <div id="databox" class="databox">
          <p><b>First solved by </b><span>{{ solved_by }}</span></p>
         </div>
       </div>

     </li>
    {{/each}}

  </ul>

</div>


