<div class="mainImages">
  <h2>LET'S PLAY!</h2>
  <div class="rightBtns">
    <div class="logout" id="logout">
      <p class="logoutBtn" id="logoutBtn">Logout</p>
    </div>
    <a href="/#newpost"><div class="newpostBtn">
      <i class="fa fa-camera"></i>
      <p>Add a new post</p>
    </div></a>
  </div>

  <ul class="small-block-grid-3">

    {{#each image}}
     <li data-id="{{id}}">

       <div class="imageWrap">
          <div class="actualImage">
            <a href="#/single/{{id}}"><img src="{{ image_url }}"></a>
          </div>
          <p class="deletePost" id="deletePost" data-id="{{id}}">delete</p>
          <p>posted by: {{owner}}</p>
          <p>first solved by: {{solved_by}}</p>
          <P>hint: {{hint}}</p>
       </div>

     </li>
    {{/each}}

  </ul>
</div>


