
      <div class="innerAside">
        <div class="asideTop">
          <h4>{{username}}</h4>
          <div class="avatar">
           {{!-- <p>Q</p> --}}
        {{!-- <i class="fa fa-camera"></i></div> --}}
          {{!--   <img src="http://placehold.it/100x100"> --}}
              <img src="https://raw.githubusercontent.com/TRPMorrison/Qpic/master/Qlogo.png">
        {{!-- <div class="solved">
        <button id="#solved">View Solutions</button>
          <ul id="userSolves" class="userSolves">
{{#each solved}}
<li data-id="{{ solved }}">

  {{solved}} {{attempts}} {{times_solved}}
{{/each}} --}}
{{!-- </div> --}}
        </div>
          <div class="score">
            <p>Current score: {{points}}</p>
          </div>
        </div>
        <div class="leaderboardSection">
          <h4>Leaderboard</h4>
          <ul id="leaderboard" class="leaderboard">
            <li>{{username}}: {{!-- {{}} --}}</li>
          </ul>
        </div>
        </div>

<div class="deleteDiv">
  <button id="#deleteUser">Delete Account</button>
</div>

