  <div class="singleWrap">
    <div class="singleMain">
      <i class="fa fa-camera"></i>
      <p>posted by <span>{{owner}}<span></p>
      <p class="deletePost" id="deletePost" data-id="{{id}}"><i class="fa fa-minus-square" data-id="{{id}}"></i></p>

      <div class="image">
        <img src="{{image_url}}">

        <div class="imageInfo">
          <p>Incorrect so far: {{!-- {{}} --}}</p>
          <p>Correct so far: {{!-- {{}} --}}</p>

          <!-- would be cool to add div with user's score and addClass show on hover for this information -->

        </div>
      </div>

      <form class="guessInput" id="guessInput">
        <input type="text" placeholder="What's your guess?" id="guess" class="guess">

        <a href="#/leaderboard/{{id}}"><button id="guessBtn" class="guessBtn">Check it!</button></a>

      </form>

    <div class="singleGuesses" id="singleGuesses">
    <p id="seeOldGuesses">See All Old Guesses</p>
      <ul class="incorrectGuesses" id="incorrectGuesses">
      </ul>
    </div>

    </div> <!-- end singleMain -->

  </div> <!-- end singleWrap -->
