  <div class="singleWrap">
    <div class="singleMain">
      <div class="singleMainTop">
        <i class="fa fa-camera"></i>
        <p>posted by <span>{{owner}}<span></p>
        <p class="deletePost" id="deletePost" data-id="{{id}}"><i class="fa fa-minus-square" data-id="{{id}}"></i></p>
      </div>
      <div class="image">
        <img src="{{image_url}}">

        <div class="imageInfo">
          <p class="imageInfoP">First solved by: <span>{{solved_by}}</span></p>
          <p class="imageInfoP">Correct so far: <span>{{times_solved}}</span></p>
          <p class="imageInfoP">Total Attempts: <span>{{attempts}}</span></p>
          <p class="imageInfoP" id="hint">Show hint: <span class="hint">{{hint}}</span></p>
        </div>
      </div>

      <form class="guessInput" id="guessInput">
        <input type="text" placeholder="What's your guess?" id="guess" class="guess">
        <a href="#/leaderboard/{{id}}"><button id="guessBtn" class="guessBtn">Check it!</button></a>
      </form>

      <div class="errormsg" id="errorMsgGuess"></div>

      <div class="singleGuesses" id="singleGuesses">
        <p id="seeOldGuesses">Your previous <span>incorrect</span> guesses:</p>
        <ul class="incorrectGuesses show" id="incorrectGuesses">
        </ul>
      </div>

    </div> <!-- end singleMain -->

  </div> <!-- end singleWrap -->
